*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{

     width: 500px;
     height: 500px;
     border: 1px solid grey;
     margin: auto;

}
#display{

    width: 25%;
    height:25%;
    margin: auto;
    margin-top: 4%;
    background-color: darksalmon;
    color:whitesmoke;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
