*{

	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
.container{

	width: 500px;
	height: 500px;
	/*border: 1px solid black;*/
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.box{

    height: 110px;
    width: 110px;
    box-shadow: 0px 0px 10px white; 
    font-family: 'Baloo Bhai 2', cursive;
    box-shadow: 0px 0px 10px grey;

}
.box h1{
   margin-top:-34%;
   font-size: 8em;
   text-align: center;
   color: white;

}
#box1{

    background-color: #D62430;
    /*transform:rotate(-13deg);*/
    /*z-index:5;*/
}
#box2{

    background-color: #79C16B;
    /*transform: rotate(21deg);*/
    /*z-index: 4;*/
}
#box3{

    background-color: #26A3DB;
    /*transform: rotate(-6deg);*/
    /*z-index: 3;*/
}
#box4{
  
    background-color: #F5B422;
    /*transform: rotate(5deg);*/
}
    