*{

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.container{

    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: auto;
    max-height: auto;
    display: grid;
    grid-template-rows: 40px 60px 5fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 'topic header header'
                         'nav sub-header sub-header'
                         'nav main aside';
}
.topic{

    grid-area: topic;
    background-color: #343957;
    color:  #999FB7;
    padding:10px 20px;
    position: sticky;
    top: 0;
    left: 0;
}
svg{

    fill: #999FB7;
    width: 18px;
    height: 18px;
    vertical-align:top;
    font-size: 1.3em;
    font-weight: 500;
}
.topic span{

    margin-left: 4px;
}
.header{
     
    grid-area: header;
    display: flex;
    background-color: #343957;
    color:  #999FB7;
    position: sticky;
    top: 0;
}
form{

    flex-grow:8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    
    width: 90%;
    height: 30px;
    padding:5px 40px;
    background-color:#454c66;
    border-radius:3px;
    padding-left: 40px;
    color: #A9AFC5;
    outline: none;
    
}
form span:hover,input:hover{
    transition: 2s;
    background-color: #e6e6e6d8;
    color: black;
}
form span:hover,input:active{
    
    transition: 2s;
    background-color: transparent;
    color: black;


}
#search-icon{
    position: absolute;
    left: 36px;
    /* background-color: #4C526C; */
    padding: 6px 8px;
    border-radius: 4px;
    font-size:18px;
}
.header-icons{
    flex-grow: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #8f8a8a40;
        
}
.header-icons a{

    font-size: 20px;
    color:#82859b;
    text-decoration: none;
    padding: 5px 10px;

}
.header-icons a:hover{

    color: #E9EBF7;
    transition: 2s;
    transform: scale(1.1);
}
.header-icons a:nth-child(1){

    color: white;
    padding: 2px;
    margin-right: 2%;
    background-color:#3FB477;
    border-radius: 3px; 
        
 }
 .header-icons a:nth-child(3){
    
    animation: bell;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-play-state: paused;
 }
 @keyframes bell {
     
    0% { transform: rotate(-35deg);}
    25%{transform: rotate(35deg);}
    50%{transform: rotate(-35deg);}
    75%{transform: rotate(35deg);}
    100% {transform: rotate(-35deg);}

 }
 button:hover{

    transition: 1s;
    opacity: 0.8;
    box-shadow: 1px 1px 4px rgb(122, 122, 122);
    background-color: white;
    color: black;
 }
 .header-info,.header-profile,.header-icon2{
    flex-grow: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #8f8a8a40;   
 }
 .header-profile img,.sub-2 img{
           
    width: 25px;
    height: 25px;
    border-radius: 50%;
 }
.sub-2 img{


    width: 35px;height: 35px;
    border:1px solid white;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 3px;
} 
.sub-2 pre{

    margin:15px 10px 0px 10px;
    font-size: 11px;
    color: #808085;
}
.sub-2 span{
   
    color:#46b6fb;
    font-weight: 600;
    line-height:1.5;
    font-size: 12px;

}.header-info{
    
    flex-grow: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    border-right: 1px solid #8f8a8a40;  
 }
.nav{
   
    grid-area: nav;
    background-color: #F4F4F9;

}
.nav:hover{

    border-right:1px solid #dfd8d8 ;
    transition: 2s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.979);
}
.nav-1{
    color:  #999FB7;
    padding: 10px 16px;
    padding-top: 16px;
}

.nav-2{
    color:  #999FB7;
    padding:10px 20px;
    padding-top: 20px;
}
.nav-1 ul,.nav-2 ul{

    list-style-type: none;
}
.nav-2 a{

    margin-left:8px;
    
}
.nav-2 a:hover{

    color: #3cb07d;

}
.nav-1 a:hover{
   
    color:#3cb07d;
    border-bottom: 1px solid #3FB477;
    transition: 2s;
    margin:0px 20px;
    
}
.nav-2 li:hover{

    color:#3cb07d;
    border-bottom: 1px solid #3FB477;
    transition: 2s;
    margin:0px 20px;
}
.nav-1 a,.nav-2 a{

    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #858586;
    margin-left: 4px;
}
.nav-2{

    padding: 0px 10px 10px 20px;
    line-height: 1.7;
    margin-top: -12px;
    white-space: nowrap;
}
.nav li span{

    font-size: 18px;
    vertical-align: sub;

}
.sub-header{

    grid-area: sub-header;
    padding: 0 10px;
    display: flex;
    border-bottom: 2px solid #F4F4F9;
}
#sub-1{
    
    margin: 15px 0 0 24px;
    width: 35px;
    height: 35px;
    color: #928c8c;
    border-radius:5px;
    display: flex;
    background-color:#EFF1FE;
    align-items: center;
    justify-content: center;
}
.sub-2{
    
    flex-grow: 3;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0px 10px;
    
}
#nav-list{
    
    padding: 10px 20px;

}
.sub-2-2 {
    padding: 0px 10px;
    margin-top: 5px;
    border-left: 1px solid lightgrey;
}
.sub-2-2 span{
     
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
    color: #6E707B;
}
.sub-2-2 small{

    color: #eeab69;
    white-space: nowrap;
    padding: 2px 4px;
    background-color: #ffe7d0;
    font-size: 8px;
    font-weight: 600;
}
.sub-3{

    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#btn-1,#btn-2{
  
    width: 70px;
    height: 30px;
    background-color: #50d891;
    color: white;
    border-radius: 5px;

}
#btn-2{

    background-color: #E9EBF7;
    width: 60px;
    color:#808085;
}
#btn-3{

    height: 30px;
    width: 30px;
    background-color: #E9EBF7;
    border-radius: 5px;
}
.main-content{

    grid-area: main;
    margin: 20px 31px;
}
.journey-details{

    color: #5b596d;
}
.journey-details h3{

    font-weight: normal;
    line-height: 2;
    font-size: 20px;    
}
.journey-details p{
      
    font-size: 11px;
    color: #A2A4B2;
}
.train-dt{

    width: 100%;
    height: 50px;
    background-color: #F4F5FA;
    border-radius: 7px;    
    padding-left: 15px;

}
.train-dt:hover,.journer-place-dt:hover{
    
    background-color:#a9afc521;
    transition: 1s;
    box-shadow: 1px 1px 4px grey;

}
.train-dt1{
    
    width: 60px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3cb07d;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px 10px ;
    border-bottom: 3px solid #3cb07d;
    
}
.journey-place-dt{

    height: 100px;
    width: 100%;
    border: 1px solid #efefef;
    border-radius:4px;
    display: flex;
}
.journey-place-dt:hover{

    box-shadow: 1px 1px 10px #efefef;
    transition: 1s;
    z-index: 1;
}
.child1{
    padding-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 1px solid #E9EBF7;
    margin: 20px 0px;
}
.child1 p{
    color: #5b5b5b;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
   
}
.child1 small{
    color: #959699;
    font-size: 11px;
    font-weight: bold;
}
.child2{
    
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #E9EBF7;
    margin: 20px 0px;
}
.child2 span{

    color: #5b596d;
    font-weight: normal;
    font-size: 9px;
    
}
.child2 h3{

    color: #959595;
    font-size: 13px;
    margin-left: -4px;
}
.journey:hover{

    box-shadow: 1px 1px 3px lightgray;
    transition: 2s;
}
.child3{
    
    flex-grow: 1;
    display: flex;

}

.aside{
   grid-area: aside;
   padding: 20px 29px;
   background-color: #F4F4F9;
}
.aside p{

    font-size: 1vw;
    color: #777777;
    font-weight: bolder;
    line-height:2;
}
#aside-child{
    height: 21px;
    background-color: #FFFFFC;
    border-radius:10px;
}
#as-c1{

    font-size:0.7vw;
    margin-left: 2px;
    color: #6b6b6b;
    font-weight: bold;
}
#as-c2{
    font-size: 11px;
    color: #46b6fb;
    font-weight: bold;
}
#aside-2 span{
    
    font-size: 11px;
    color: #777777;
    font-weight: bolder;
    line-height: 2;
}
#aside-2 h6{

    font-size: 10px;
    color: #4b4b4b;

}

@media only screen and (max-width:990px){
             

 .container{

    display: grid;
    grid-template-rows: 40px 60px auto;
    grid-template-columns: auto auto;
    grid-template-areas: 'topic header'
                         'nav sub-header'
                         'nav aside'
                         'main main';

 }
 .header-icon2,.header-info,.header-profile,#sub-1{
    display: none;
 }
 .sub-2 img{
    width: 30px;
    height: 30px;
    margin-left: 10px; 
}
form{

    flex-grow:4;
     
}
.header-icons{
   
    flex-grow:1;       
}
.sub-2{

    flex-grow: 1.5;
}
.sub-3{

    flex-grow: 1;
}
.sub-3 p{

    display: none;
}
.nav-1 a:hover{
   
    color:#3cb07d;
    border-bottom: 1px solid #3FB477;
    transition: 1s;
    margin: 0px;
    
}
.nav-2 li:hover{

    color:#3cb07d;
    border-bottom: 1px solid #3FB477;
    margin: 0px;
}
.aside{
    
    grid-area:aside; 
    background-color: white;  
}
.aside p{

    font-size:13px;
}
#aside-2 span{
    
    font-size: 13px;
}
#aside-2 H6{
    
    font-size: 11.5px;
}
#as-c1{

    font-size:9px;
    
}
.main-content{

    grid-area: main;
    padding:20px;
    width: 90%;
    margin: 4% auto;
    transition: 2s;

}
.main-content:hover{

    box-shadow: -20px 20px 5px #efefef;
    border-radius: 40px;
    transition: 1s;
    border: 1px solid #efefef;
}
 

    
}

@media only screen (min-width:700px) and (max-width:650){
    

     .btn-1{
        
        color:red;
     }


}
@media only screen and (max-width:700px){

    .container{

        display: grid;
        grid-template-rows: 40px 60px auto;
        grid-template-columns: auto  auto;
        grid-template-areas: 'topic header'
                             'sub-header sub-header'
                             'aside aside'
                             'main main';
    
     }

     svg{

        vertical-align: middle;
        width: 15px;
        height: 15px;
     }
     .topic span{

        font-size:10px;
     }
     .header-icons a:nth-child(1){

        padding: 1px;
     }
     .header-icons a:nth-child(1):HOVER{

        border-radius: 10px;
        transition: 0s;
     }
     form{

        flex-grow: 2;
     }
     input{

        padding: 5px 10px;
        padding-left:33px;
        font-size: 11px;
     }
     #search-icon{

        left:10px;
        font-size: 16px;
        
     }
    .nav{

        display: none;
    }
    
    #btn-1{

        width:50px;
        font-size: 10px;
        height: 25px;
    }
    #btn-2{

        width:40px;
        font-size: 10px;
        height: 25px;
    }
    #btn-3{

        transform: rotate(90deg);
        background-color: transparent;
    }
    .sub-2{

        flex-grow: 1;
    }
    .sub-2 img{
        width: 25px;
        height: 25px;
        margin-left:10px; 
    }
    .sub-2 span,.sub-2-2 span{

        color:#46b6fb;
        font-weight: 600;
        line-height:1.5;
        font-size: 11px;
    }
    .sub-2 pre{

        margin:15px 10px 0px 10px;
        font-size: 10px;
        color: #808085;
    }
    .sub-3{

        justify-content: space-between;
    }
    #aside-child {
        height: 21px;
        width: 120px;
        background-color:white;
        border-radius: 10px;
        box-shadow: 0px 0px 1px #4bb8fa;
    }
    .child2{
        border: none;
        flex-grow: 3;
    }
    .child3{

        display: none;
    }


}